.heading{
    font-size: 25px;
    width:100%;
    margin:0px;
    font-weight: bolder;
    box-shadow : 5px 5px 5px gray;
    color: black;
}

.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color:black;
    font-weight: bolder;
    box-shadow : 5px 5px 5px gray; 
}

.heading_div2{
    font-size: 18px;
}

body{background: hsla(239, 100%, 67%, 1);

    background: linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#595CFF", endColorstr="#C6F8FF", GradientType=1 );}